@model vinodsharma.Models.UrerProfileModel

@{
    ViewBag.Title = "ViewProfile";
}

<h2>Your details</h2>

<div>
   
    <hr />
    @Html.ActionLink("Paymnet History", "PaymentHistory")
    <dl class="dl-horizontal">
        <dt>
           Your Points
        </dt>

        <dd>
            @ViewBag.Points
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoDistributerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoDistributerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoDistributerLasttName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoDistributerLasttName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoDob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoDob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

    </dl>

    
</div>

